= form_for @rating do |f|
  - if @rating.errors.any?
    #error_explanation
      h2 = "#{pluralize(@rating.errors.count, "error")} prohibited this rating from being saved:"
      ul
        - @rating.errors.full_messages.each do |message|
          li = message

  .actions = f.submit 'Save'
