#= require jquery
#= require jquery_ujs
#= require jquery-ui-1.10.4.min
#= require angular
#= require angular-route
#= require bootstrap
#= require_directory .
#= require_self
#= require_tree ./application

# I18ed dates

moment.lang 'fr'
langData = moment.langData()

$.datepicker.setDefaults
  format: langData.longDateFormat('L').toLowerCase()
  weekStart: langData._week.dow

# Angular

angular.module 'PlatMaison', ['ngRoute', 'angularFileUpload']

.config ['$routeProvider', '$locationProvider', ($routeProvider, $locationProvider) ->
  $locationProvider.html5Mode true
  $routeProvider
  .when '/checkout',
    controller: 'Checkout'
    templateUrl: '<%= path_to_asset("checkout.html") %>'
  .when '/checkout/:commandId/:view',
    controller: 'CheckoutConfirmation'
    templateUrl: '<%= path_to_asset("checkout-confirmation.html") %>'
  .when '/dish/:availabilityId/:dishId/:slug?',
    controller: 'Dish'
    templateUrl: '<%= path_to_asset("dish.html") %>'
  .when '/kitchen',
    controller: 'Kitchen'
    templateUrl: '<%= path_to_asset("kitchen.html") %>'
  .when '/login',
    controller: 'Login'
    templateUrl: '<%= path_to_asset("login.html") %>'
  .when '/offer',
    controller: 'Offer'
    templateUrl: '<%= path_to_asset("offer.html") %>'
  .when '/search',
    controller: 'Search'
    reloadOnSearch: false
    templateUrl: '<%= path_to_asset("search.html") %>'
  .when '/signup',
    controller: 'Signup'
    templateUrl: '<%= path_to_asset("signup.html") %>'
  .otherwise
    controller: 'Home'
    templateUrl: '<%= path_to_asset("home.html") %>'
]

# Facebook

window.fbAsyncInit = ->
  FB.init
    appId      : '623019904450117',
    cookie     : true,  # enable cookies to allow the server to access the session
    xfbml      : true,  # parse social plugins on this page
    version    : 'v2.0' # use version 2.0

$.getScript '//connect.facebook.net/en_US/sdk.js'
