/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap"

body
  padding-top: 70px

/* Kitchen */

#availableDishes
  padding: 0
  
.availableDish
  border: 2px dashed #ccc
  cursor: move
  display: inline-block
  margin: 2px
  padding: 2px
  white-space: nowrap

/* Search */

#map
  bottom: 0
  left: 0
  position: fixed
  top: 50px
  width: 40%
  
  > *
    height: 100%
  
#search
  bottom: 0
  overflow-x: hidden
  overflow-y: auto
  position: fixed
  right: 0
  top: 50px
  width: 60%
  
  > *
    padding: 10px
    
#results .thumbnail
  height: 150px
  overflow: hidden
  position: relative
  
  .avatar
    height: 64px
    left: 10px
    position: absolute
    top: 70px
    width: 64px
  
  .name
    left: 80px
    position: absolute
    top: 70px
  
  .price
    position: absolute
    right: 10px
    top: 10px
  
  .cook
    left: 80px
    position: absolute
    top: 100px
