<div class="container">
	<h2>Passer commande</h2>
	<p>Here is your order:</p>
	<hr />
	<p>
		Auprès de <strong>{{cart.cook.first_name}}</strong>.
	</p>
	<p>
		Disponibilité : le <strong>{{cart.availability.mStart |
			idate}}</strong> de <strong>{{cart.availability.mStart | itime}}</strong> à <strong>{{cart.availability.mEnd
			| itime}}</strong>
	</p>
	<hr />
	<p ng-repeat="item in cart.items">{{item.dish.name}}:
		{{item.amount}} x {{item.dish.price}} €</p>
	<p>Prix total : {{cart.totalPrice()}} €</p>
	<hr />
	<p>
		<button class="btn btn-primary" ng-click="proceed()">Pay with
			credit card</button>
	</p>
</div>