<div class="container" ng-switch="view">
	<div ng-switch-when="succeeded">
		<h2>Finalisation</h2>
		<p>Veuillez patienter pendant la validation du paiement.</p>
	</div>
	<div ng-switch-when="confirmed">
		<h2>Commande passée</h2>
		<p>Here is your command:</p>
		<hr />
		<p>
			Auprès de <strong>{{command.cook.first_name}}</strong>.
		</p>
		<p>
			Retrait le <strong>{{command.availabilitity.mStart | idate}}</strong>
			de <strong>{{command.availabilitity.mStart | itime}}</strong> à <strong>{{command.availabilitity.mEnd
				| itime}}</strong>
		</p>
		<hr />
		<p ng-repeat="dish in command.dishes">{{dish.name}}:
			{{dish.amount}} x {{dish.price}} €</p>
		<p>Prix total : {{command.price}} €</p>
	</div>
	<div ng-switch-when="error">
		<h2>Unexpected error</h2>
	</div>
</div>