<div class="container">
	<div class="col-md-8">
		<form class="form-inline">
			<div class="form-group">
				<label class="sr-only" for="availabilityDate">Date</label> <input id="availabilityDate"
					type="text" class="form-control">
			</div>
			<div class="form-group">
				<label class="sr-only" for="availabilities">Slot</label> <select id="availabilities"
					class="form-control" ng-change="changeAvailability()" ng-model="availability"
					ng-options="'from ' + availability.mStart.format('LT') + ' to ' + availability.mEnd.format('LT') for availability in dayAvailabilities track by availability.id"></select>
			</div>
    <div>
      Heure limite de commande : <strong>{{cart.availability.mStart | idate}}</strong> à  <strong>{{cart.availability.mStart | itime}}</strong>
    </div>
		</form>
		<hr />

		<div ng-repeat="item in cart.items">
			<h2>{{item.dish.name}}</h2>
			<p>
				<img ng-src="{{item.dish.main_picture.thumb}}" />
			</p>
			<p>{{item.dish.description}}</p>
			<p>Type : {{item.dish.type.name}}</p>
			<p>Prix unitaire : {{item.dish.price}} €</p>
			<p>
				Quantité :
				<button class="btn btn-default" ng-click="decAmount(item)">-</button>
				{{item.amount}}
				<button class="btn btn-default" ng-click="incAmount(item)">+</button>
			</p>
			<p>
				<button type="button" class="btn btn-default"
					ng-click="cart.remove(item)">Remove</button>
			</p>
			<hr />
		</div>

		<h2>Ajouter un plat</h2>
		<div ng-repeat="dish in availability.dishes">
			<a href="" ng-click="addToCart(dish)">{{dish.name}}</a>
		</div>

		<hr />
		<p>Prix total : {{cart.totalPrice()}} €</p>
		<p>
			<button class="btn btn-primary" ng-click="order()">Continuer
				la commande</button> {{orderError}}
		</p>

		<hr />
		<h2>Commentaires</h2>
		<p ng-if="error">{{error}}</p>
	</div>

	<div class="col-md-4">
		<h2>{{cook.first_name}}</h2>
		<p>Calendrier mis à jour :</p>
		<p>Aujourd'hui</p>
		<p>
			<a class="btn btn-default" href="mailto:">Contacter le chef</a>
		</p>
		<h2>Autres plats du chef</h2>
		<ul>
			<li ng-repeat="dish in dishes">{{dish.name}}</li>
		</ul>
		<hr />
		<h2>Autres cuisiniers proches</h2>
	</div>
</div>