<div class="container">
	<h1>Plat maison</h1>
	<p>Du fait maison à emporter</p>

	<form ng-submit="submit()">
		<div class="row">
			<div class="col-md-3">
				<input type="text" class="form-control" id="location"
					ng-model="search.location" placeholder="Où retirer mon plat ?">
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-default"
					ng-click="search.geolocalize()">Use my current position</button>
			</div>
			<div class="col-md-3">
				<input class="form-control" id="date"
					placeholder="Quel jour ?" type="text">
			</div>
			<div class="col-md-2">
				<select class="form-control" id="time" ng-model="search.time"
					ng-options="time.str for time in search.times"></select>
			</div>
			<div class="col-md-2">
				<button type="submit" class="btn btn-primary">Regarder les
					offres</button>
			</div>
		</div>
	</form>


	<h2>Dashboard client</h2>
	<h2>Dashboard cuisinier</h2>
	<p>
		<a href="/kitchen">Go to my kitchen</a>
	</p>
</div>