<div class="container">
	<div id="tabs">
		<ul>
			<li><a href="#dishes">My dishes</a></li>
			<li><a href="#availabilities">My availabilities</a></li>
			<li><a href="#orders">My orders</a></li>
		</ul>

		<div id="dishes">
			<a class="btn btn-primary" href="/offer">Proposer un nouveau plat</a>
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Nom</th>
						<th>Prix unitaire</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dish in dishes">
						<td><img ng-src="{{dish.url}}" /></td>
						<td>{{dish.name}}</td>
						<td>{{dish.price}}</td>
						<td><a class="btn btn-info"
							ng-href="/kitchen/dishes/{{dish.id}}/{{url.slugize(dish.name)}}">Editer</a><a
							class="btn btn-danger" href="" ng-click="">Supprimer</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row" id="availabilities">
			<div class="col-md-8">
				<div id="weekCalendar"></div>
				<p>Glissez-déposez un plat sur un créneau horaire de
					disponibilité :</p>
				<ul id="availableDishes">
					<li class="availableDish" data-dish-id="{{dish.id}}"
						ng-repeat="dish in dishes">{{dish.name}}</li>
				</ul>
			</div>

			<div class="col-md-4">
				<div id="monthCalendar"></div>
				<div ng-if="availability">
					<h2>Disponibilité</h2>
					<p>
						Début : <strong>{{availability.mStart | idate}}</strong> à <strong>{{availability.mStart
							| itime}}</strong>
					</p>
					<p>
						Fin : <strong>{{availability.mEnd | idate}}</strong> à <strong>{{availability.mEnd
							| itime}}</strong>
					</p>
					<p>Plats :</p>
					<ul>
						<li ng-repeat="dish in availability.dishes"><a href=""
							ng-click="removeFromAvailability(dish)">{{dish.name}}</a></li>
					</ul>
					<p>
						<button class="btn btn-danger" ng-click="removeAvailability()">Enlever
							ce créneau</button>
					</p>
				</div>
			</div>
		</div>

		<div id="orders">
			<h2>Commandes à venir</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Statut</th>
						<th>Date</th>
						<th>Lieu</th>
						<th>Goûteur</th>
						<th>Détails</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="order in orders | filter: futureOrder">
						<td>{{order.status}}
							<div ng-if="order.status === 'PENDING'">
								<a class="btn btn-default" href="" ng-click="gift(order)">Give
									a gift</a>
							</div>
							<div ng-if="order.status === 'PAID'">
								<a class="btn btn-default" href="" ng-click="accept(order)">Accept</a>
								<a class="btn btn-default" href="" ng-click="decline(order)">Decline</a>
							</div>
						</td>
						<td><strong>{{order.availabilitity.mStart | idate}}</strong>
							de <strong>{{order.availabilitity.mStart | itime}}</strong> à <strong>{{order.availabilitity.mEnd
								| itime}}</strong></td>
						<td></td>
						<td>{{order.user.first_name}} {{order.user.last_name}}<br />{{order.user.email}}<br />{{order.user.telephone}}
						</td>
						<td>
							<ul>
								<li ng-repeat="dish in order.dishes">{{dish.name}}:
									{{dish.amount}}</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>

			<h2>Commandes passées</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Statut</th>
						<th>Date</th>
						<th>Lieu</th>
						<th>Goûteur</th>
						<th>Détails</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="order in orders | filter: pastOrder">
						<td>{{order.status}}</td>
						<td><strong>{{order.availabilitity.mStart | idate}}</strong>
              de <strong>{{order.availabilitity.mStart | itime}}</strong> à <strong>{{order.availabilitity.mEnd
                | itime}}</strong></td>
						<td></td>
						<td>{{order.user.first_name}} {{order.user.last_name}}<br />{{order.user.email}}<br />{{order.user.telephone}}
						</td>
						<td>
							<ul>
								<li ng-repeat="dish in order.dishes">{{dish.name}}:
									{{dish.amount}}</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>