<div class="container">
	<form ng-submit="submit()">
		<div class="form-group">
			<label for="email">Email</label> <input type="email"
				class="form-control" id="email" ng-model="email">
		</div>
		<div class="form-group">
			<label for="password">Password</label> <input type="password"
				class="form-control" id="password" ng-model="password">
		</div>
		<button type="submit" class="btn btn-primary">Log in</button>
		<button type="button" class="btn btn-default"
			ng-click="logInWithFacebook()">Log in with Facebook</button>
		<div ng-if="wrongCredentials">Wrong credentials.</div>
	</form>
</div>