<div class="container" ng-switch="view">
	<div ng-switch-when="form">
		<form ng-submit="submit()">
			<div class="form-group has-feedback">
				<label for="name">Name</label> <input type="text"
					class="form-control" id="name" ng-model="data.name"
					placeholder="Salade océane, crêpe du pêcheur, kouign-amann..."
					required ng-blur="validateName()">
			</div>
			<div class="alert alert-warning fade in hide">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">×</button>
				Please give a name.
			</div>

			<div class="form-group has-feedback">
				<label for="description">Description</label>
				<textarea rows="5" class="form-control" id="description"
					ng-model="data.description"
					placeholder="Recette traditionnelle bretonne"
					ng-blur="validateDescription()"></textarea>
			</div>
			<div class="alert alert-warning fade in hide">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">×</button>
				Please give a description.
			</div>

			<div class="form-group">
				<label>Mots-clés</label>
				<br/>
				<div class="btn-group" data-toggle="buttons" id="cuisine_keywords">
					<label class="btn btn-primary" ng-repeat="cuisine_keyword in cuisine_keywords | orderBy: 'keyword'"> <input type="checkbox" data-keyword-id="{{cuisine_keyword.id}}"> {{cuisine_keyword.keyword}}
					</label>
				</div>
			</div>

			<div class="form-group has-feedback">
				<label for="type">Type de plat</label> <select class="form-control"
					id="type" ng-model="otherData.type" required
					ng-blur="validateType()" ng-options="type.name for type in types">
				</select>
			</div>
			<div class="alert alert-warning fade in hide">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">×</button>
				Please give a type.
			</div>

			<div class="form-group has-feedback">
				<label for="price">Prix par portion (en €)</label> <input
					type="number" class="form-control" id="price" ng-model="data.price"
					min="0" max="999" step="0.1" required ng-blur="validatePrice()">
			</div>
			<div class="alert alert-warning fade in hide">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">×</button>
				Please give a price.
			</div>

			<div class="form-group has-feedback">
				<label for="photo">Photo</label> <input type="file" id="photo"
					ng-file-select ng-model="photo" required
					ng-change="validatePhoto()">
			</div>
			<div class="alert alert-warning fade in hide">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">×</button>
				Please give a photo.
			</div>

			<button type="submit" class="btn btn-primary">Proposer</button>
		</form>
	</div>
	<div ng-switch-when="creating">
		<h2>Création en cours...</h2>
	</div>
	<div ng-switch-when="succeeded">
		<h2>Plat ajouté</h2>
		<p>
			<a class="btn btn-primary" ng-href="/kitchen/dishes/{{dish.id}}">Voir
				la fiche du plat</a> <a class="btn btn-default" href="/kitchen#dishes">Voir
				tous mes plats</a>
		</p>
	</div>
</div>