<div id="map">
	<div></div>
</div>
<div id="search">
	<div id="filters">
		<form>
			<div class="row">
				<div class="col-md-4">
					<input class="form-control" id="location"
						ng-model="search.location" placeholder="Où retirer mon plat ?"
						type="text">
				</div>
				<div class="col-md-4">
					<input id="date" type="text" class="form-control"
						placeholder="Quel jour ?">
				</div>
				<div class="col-md-4">
					<select class="form-control" id="time" ng-change="submit()"
						ng-model="search.time"
						ng-options="time.str for time in search.times"></select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">Plats :</div>
				<div class="col-md-1">
					<input type="number" class="form-control" min="1"
						ng-model="search.amount" ng-change="submit()">
				</div>
			</div>
		</form>
	</div>
	<div id="results">
		<div class="col-md-4" ng-repeat="result in results">
			<a class="thumbnail" ng-href="{{url.dish(result)}}"
				ng-mouseover="highlight(result)" ng-mouseout="unhighlight(result)">
				<img class="photo" ng-src="{{result.dish.main_picture}}" /> <img
				class="avatar"
				src="http://fantasy-faction.com/wp-content/uploads/2014/04/Avatar.jpg" />
				<div class="name">{{result.dish.name}}</div>
				<div class="price">{{result.dish.price}} €</div>
				<div class="cook">by {{result.cook.first_name}}</div>
				<div class="reviews">12 reviews</div>
				<div class="stars">
					<div class="full"></div>
					<div class="full"></div>
					<div class="full"></div>
					<div class="empty"></div>
					<div class="empty"></div>
				</div>
			</a>
		</div>
	</div>
</div>