<div class="container">
	<form ng-submit="submit()">
		<button ng-if="!data.facebook" type="button" class="btn btn-default"
			ng-click="connectWithFacebook()">Connect with Facebook</button>
		<div ng-if="facebookUsed">Merci ! Veuiller vérifier et
			compléter les informations ci-dessous. <a href="" ng-if="!passwordUsed" ng-click="usePassword()">Pour avoir quand même un accès par mot de passe, cliquez ici.</a></div>

		<div class="form-group has-feedback">
			<label for="email">Email</label><input type="email"
				class="form-control" id="email" required ng-model="data.email"
				ng-blur="validateEmail()">
		</div>
		<div class="alert alert-warning fade in hide">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">×</button>
			Please give an email.
		</div>

    <div ng-show="passwordUsed">
      <div class="form-group has-feedback">
        <label for="password">Password</label><input type="password"
          class="form-control" id="password"
          title="Tip: use a phrase, it's stronger and easier to remember!"
          ng-model="data.password" ng-blur="validatePassword()">
      </div>
      <div class="alert alert-warning fade in hide">
        <button type="button" class="close" data-dismiss="alert"
          aria-hidden="true">×</button>
        Please give a password. Consider using at least <strong>8 characters</strong>.
      </div>
    </div>

		<div class="form-group has-feedback">
			<label for="first_name">First name</label><input type="text"
				class="form-control" id="first_name" required
				ng-model="data.first_name" ng-blur="validateFirstName()">
		</div>
		<div class="alert alert-warning fade in hide">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">×</button>
			Please give a first name.
		</div>

		<div class="form-group has-feedback">
			<label for="last_name">Last name</label><input type="text"
				class="form-control" id="last_name" required
				ng-model="data.last_name" ng-blur="validateLastName()">
		</div>
		<div class="alert alert-warning fade in hide">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">×</button>
			Please give a last name.
		</div>

		<div class="form-group has-feedback">
			<label for="telephone">Telephone</label><input type="text"
				class="form-control" id="telephone" required
				ng-model="data.telephone" ng-blur="validateTelephone()">
		</div>
		<div class="alert alert-warning fade in hide">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">×</button>
			Please give a valid phone number.
		</div>

		<button type="submit" class="btn btn-primary">Sign up</button>
	</form>
</div>