doctype html
html(ng-app='PlatMaison')
  head
    meta(charset='UTF-8')
    title Cuisine de maman
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?libraries=places&sensor='
    = javascript_include_tag 'application'
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .navbar-left
        a#logo(href='/') Cuisine de maman
      .navbar-right(ng-controller='Session')
        div(ng-if="!loggedIn")
          a.btn.btn-default(href='/login' role='button') S'identifier
          a.btn.btn-default(href='/signup' role='button') Inscription
        div(ng-if="loggedIn")
          span Welcome {{user.first_name}}!
          a.btn.btn-default(href='' role='button' ng-click='logOut()') Déconnexion
      .text-center
        a.btn.btn-default(href='/search' role='button') Rechercher
        a.btn.btn-default(href='/offer' role='button') Proposer
        a.btn.btn-default(href='/calls' role='button') Voir les demandes
    == yield